Source: twisted-plugin-punjab
Section: python
Priority: optional
Maintainer: Eugene Agafonov <e.a.agafonov@gmail.com>
Uploaders: Eugene Agafonov <e.a.agafonov@gmail.com>
Build-Depends: debhelper (>= 5.0.37.1), python-all (>= 2.6.6), python-twisted-web (>= 10.0), python-twisted-words (>= 10.0), patch
XS-Python-Version: all
Standards-Version: 3.9.1

Package: python-twisted-plugin-punjab
Architecture: all
Depends: ${python:Depends}, python-twisted-web (>= 10.0), python-twisted-words (>= 10.0), python-twisted-names (>=10.0), python-openssl, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: HTTP jabber client interface
  PunJab is a HTTP jabber client interface. It is a BOSH connection manager that
  allows persistent client connections to a XMPP server.
